<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AAC Image Library</title>

        <link rel="icon" type="image/png" href="/favicon.png">
        <link href="/style.css?v4" rel="stylesheet" type="text/css" media="all">
        <script src="/frontend.js"></script>
    </head>
    <body>
        <p><a href="..">click here to go back.</a></p>

        

        <div class="figlist">
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template x makes me panic 7481555720775792024.png" alt="A yellow face with a fearful expression starting to cry with distress marks above a blank space."></div>
                <figcaption>
                    <span class="caption">[symbol template] [x] makes me panic</span>
                    <span class="credit"> | By Wolf.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/anti stance template ot.png" alt="a grey thought bubble with a red X in front of it"></div>
                <figcaption>
                    <span class="caption">[symbol template] anti [stance]</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/black folder thick petri.png" alt="A hollow black folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] black folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/black folder thin petri.png" alt="A hollow black folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] black folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/blue folder alena semi.png" alt="A blue folder with gradients from lighter blue at the top to darker blue at the bottom."></div>
                <figcaption>
                    <span class="caption">[symbol template] blue folder</span>
                    <span class="credit"> | By Alena Semi.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/brown folder thick petri.png" alt="A hollow brown folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] brown folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/brown folder thin petri.png" alt="A hollow brown folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] brown folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/can i see template pheonix 1.png" alt="An image with dark line art shows a grey green eye with a purple arrow below it curving to point at an empty space. Above is a yellow question mark."></div>
                <figcaption>
                    <span class="caption">[symbol template] can I see</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/can i see template pheonix 2.png" alt="An image with light line art shows a grey green eye with a purple arrow below it curving to point at an empty space. Above is a blue question mark."></div>
                <figcaption>
                    <span class="caption">[symbol template] can I see</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/carton drink base neon 2.png" alt="The blank outline of a drink carton"></div>
                <figcaption>
                    <span class="caption">[symbol template] carton drink</span>
                    <span class="credit"> | By Neon.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/carton drink neon.png" alt="The black outline of an unlabeled milk carton."></div>
                <figcaption>
                    <span class="caption">[symbol template] carton drink</span>
                    <span class="credit"> | By Neon.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/color petri.png" alt="lineart of paint spilling out of a silver tube."></div>
                <figcaption>
                    <span class="caption">[symbol template] color</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/conditioning long straight plum.png" alt="lineart of a figure conditioning long, straight hair."></div>
                <figcaption>
                    <span class="caption">[symbol template] conditioning long straight hair</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/confusion template.png" alt="Dark purple lineart of a round, emoji-like face nervously looking up at their own empty thought bubble that is floating above them. Three question marks (?) are above them. The face has only eyes and a mouth, with two diagonal lines between the eyes almost implying a nose, but not properly defining one. Their eyebrows are knit together and downturned in concern, and their mouth is a wobbly frown. A few sweat droplets run down the side of their face. The lineart varies in thickness throughout, and gives the appearance of brush- or chisel-tip marker."></div>
                <figcaption>
                    <span class="caption">[symbol template] confusion</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/crayon template dd.png" alt="An outline drawing of a crayon with no coloring in it."></div>
                <figcaption>
                    <span class="caption">[symbol template] crayon</span>
                    <span class="credit"> | By Zero&#39;s Archive.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/crop top plum.png" alt="lineart of crop top."></div>
                <figcaption>
                    <span class="caption">[symbol template] crop top</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/cube.png" alt="lineart of a cube."></div>
                <figcaption>
                    <span class="caption">[symbol template] cube</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/doesn&#39;t always template pheonix 1.png" alt="A red doesn’t equals sign sits above a purple arrow, the purple arrow curves and points down at a clock with a blue rim. The rim is in the shape of an arrow.  The left side of the image is noticeably empty."></div>
                <figcaption>
                    <span class="caption">[symbol template] doesn&#39;t always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/doesn&#39;t always template pheonix 2.png" alt="To the right of a blank area sits a red doesn’t equals sign. Below it is a purple arrow that curves and points down at a second blank area. To the left of this blank area is a clock with a blue rim. The rim is in the shape of an arrow."></div>
                <figcaption>
                    <span class="caption">[symbol template] doesn&#39;t always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template doesnt always 7473208335422027514.png" alt="An image with bright line art shows A red doesn’t equals sign sitting above a purple arrow, the purple arrow curves and points down at a clock with a blue rim. The rim is in the shape of an arrow.  The left side of the image is noticeably empty. "></div>
                <figcaption>
                    <span class="caption">[symbol template] doesn&#39;t always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template doesnt always 7473208335424116440.png" alt="An inage with bright line art displays an image where to the right of a blank area sits a red doesn’t equals sign. Below it is a purple arrow that curves and points down at a second blank area. To the left of this blank area is a clock with a blue rim. The rim is in the shape of an arrow."></div>
                <figcaption>
                    <span class="caption">[symbol template] doesn&#39;t always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/dog whistle template.png" alt="a tan dog with brown spots blowing a whistle, which has a spiky blank speech bubble coming out of it"></div>
                <figcaption>
                    <span class="caption">[symbol template] dogwhistle</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/don&#39;t call me template gp.png" alt="an emoji-yellow upset face and an empty speech bubble with a red x on it"></div>
                <figcaption>
                    <span class="caption">[symbol template] don&#39;t call me</span>
                    <span class="credit"> | By gillipop.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/don&#39;t touch m.png" alt="to the left is a yellow hand with a red &#39;X&#39; below it."></div>
                <figcaption>
                    <span class="caption">[symbol template] don&#39;t touch</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/fidget slug plum.png" alt="lineart of a fidget slug."></div>
                <figcaption>
                    <span class="caption">[symbol template] fidget slug</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/Flag Template.png" alt="lineart of a slightly warped rectangle like a waving flag."></div>
                <figcaption>
                    <span class="caption">[symbol template] flag</span>
                    <span class="credit"> | By StellarSymbols.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/Folder Template.png" alt="lineart of a closed manila folder. there is a single white piece of paper slightly visible over the edge"></div>
                <figcaption>
                    <span class="caption">[symbol template] folder</span>
                    <span class="credit"> | By StellarSymbols.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/folding cane plum.png" alt="lineart of a folding cane."></div>
                <figcaption>
                    <span class="caption">[symbol template] folding cane</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/fragment.png" alt="lineart of a fragment or shard of something like pottery."></div>
                <figcaption>
                    <span class="caption">[symbol template] fragment / shard</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/green folder thick petri.png" alt="A hollow green folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] green folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/green folder thin petri.png" alt="A hollow green folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] green folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/heart template plum.png" alt="A transparent dark purple line drawing of a heart shape."></div>
                <figcaption>
                    <span class="caption">[symbol template] heart</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/hug lady.png" alt="lineart of a hug."></div>
                <figcaption>
                    <span class="caption">[symbol template] hug</span>
                    <span class="credit"> | By Lady.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/hug and kiss forehead lady.png" alt="lineart of two figures hugging, the left one is kissing the right one on the forehead, while the one on the right is smiling."></div>
                <figcaption>
                    <span class="caption">[symbol template] hug and kiss on forehead</span>
                    <span class="credit"> | By Lady.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/hug and kiss lips lady.png" alt="lineart of two figures hugging, kissing each other with their eyes closed."></div>
                <figcaption>
                    <span class="caption">[symbol template] hug and kiss on lips</span>
                    <span class="credit"> | By Lady.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/i have template crows.png" alt="An emoji-yellow person pointing to themselves with an arrow also pointing to them."></div>
                <figcaption>
                    <span class="caption">[symbol template] I have</span>
                    <span class="credit"> | By Crows.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is not evil wolf.png" alt="A blank space and a purple circle with horns and a pointed tail, representing a demon, with a does not equal sign between them."></div>
                <figcaption>
                    <span class="caption">[symbol template] is not evil</span>
                    <span class="credit"> | By Wolf.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is not funny template ot.png" alt="a black arrow with a red X on top leading from a transparent space to s yellow face that is laughing, as seen by the three blue triangles near their mouth"></div>
                <figcaption>
                    <span class="caption">[symbol template] is not funny</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is not the goal template pheonix 1.png" alt="A large white circle outlined in black has a big red X overlapping with it on the bottom left, and a checkered flag with a red emphasis shape behind it is mounted above it."></div>
                <figcaption>
                    <span class="caption">[symbol template] is not the goal</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is not the goal template pheonix 2.png" alt="A large white circle outlined in a grey gradient with a big red X overlapping with it on the bottom left. There is a checkered flag with a white outline echoing the black one, and a red emphasis shape behind it, mounted above the circle"></div>
                <figcaption>
                    <span class="caption">[symbol template] is not the goal</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is not the goal template pheonix 3.png" alt="A large white 2D mound shape outlined in black has a big red X overlapping with it on the left side, and a checkered flag with a red emphasis shape behind it is mounted above it."></div>
                <figcaption>
                    <span class="caption">[symbol template] is not the goal</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is not the goal template pheonix 4.png" alt="A large white 2D mound shape outlined in a grey gradient with a big red X overlapping with it on the left side, There is a checkered flag with a white outline echoing the black one, and a red emphasis shape behind it, mounted above the circle"></div>
                <figcaption>
                    <span class="caption">[symbol template] is not the goal</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is the goal template pheonix 1.png" alt="A large 2D white mound outlined in black has a checkered flag mounted above it with a yellow emphasis shape behind it."></div>
                <figcaption>
                    <span class="caption">[symbol template] is the goal</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is the goal template pheonix 2.png" alt="A large 2D white mound outlined in a grey gradient has a checkered flag mounted above it with a yellow emphasis shape behind it. The flag has a white outline echoing the black one."></div>
                <figcaption>
                    <span class="caption">[symbol template] is the goal</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is the goal template pheonix 3.png" alt="A large white circle outlined in black has a checkered flag mounted above it with a yellow emphasis shape behind it."></div>
                <figcaption>
                    <span class="caption">[symbol template] is the goal</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/is the goal template pheonix 4.png" alt="A large white circle outlined in a grey gradient has a checkered flag mounted above it with a yellow emphasis shape behind it. The flag has a white outline echoing the black one."></div>
                <figcaption>
                    <span class="caption">[symbol template] is the goal</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/know outline m.png" alt="a black outline of a hand with the forefinger tapping the forehead of a smug face."></div>
                <figcaption>
                    <span class="caption">[symbol template] know</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/language 1.png" alt="lineart of a speech bubble above a rectangle where a flag can go. the speech bubble has a pale yellow background and the rectangle has a grey background."></div>
                <figcaption>
                    <span class="caption">[symbol template] language</span>
                    <span class="credit"> | By CC.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/language 2.png" alt="lineart of a speech bubble above a rectangle where a flag can go."></div>
                <figcaption>
                    <span class="caption">[symbol template] language</span>
                    <span class="credit"> | By CC.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/lanyard template m.png" alt="black lineart of a lanyard with a horizonal card clipped onto the end."></div>
                <figcaption>
                    <span class="caption">[symbol template] lanyard</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/stance neutral template ot.png" alt="a grey thought bubble with an orange wavy dash in front of it."></div>
                <figcaption>
                    <span class="caption">[symbol template] neutral [stance]</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/not always pheonix template 1.png" alt="A red X sits at the top of the image, a purple arrow curves down to point at a blank space, next to the blank space is a clock with a blue rim. The rim is also a circular arrow."></div>
                <figcaption>
                    <span class="caption">[symbol template] not always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/not always pheonix template 2.png" alt="A red X sits at the top of the image, a purple arrow curves down to point at a clock with a blue rim. The rim is also a circular arrow. Next to the clock is a blank space."></div>
                <figcaption>
                    <span class="caption">[symbol template] not always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template not always 7473208335422170809.png" alt="This image has light line art it shows a red X sitting at the top of the image, a purple arrow curves down to point at a blank space, next to the blank space is a clock with a blue rim. The rim is also a circular arrow."></div>
                <figcaption>
                    <span class="caption">[symbol template] not always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template not always 7473208335424513049.png" alt="This image has light line art, it shows A red X sitting at the top of the image, a purple arrow curves down to point at a clock with a blue rim. The rim is also a circular arrow. Next to the clock is a blank space."></div>
                <figcaption>
                    <span class="caption">[symbol template] not always</span>
                    <span class="credit"> | By Pheonix.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/PronounT-object-froggygolem.png" alt="line art of head and shoulders shape above horizontal rectangle"></div>
                <figcaption>
                    <span class="caption">[symbol template] object pronoun</span>
                    <span class="credit"> | By froggygolem.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/orange folder thick petri.png" alt="A hollow orange folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] orange folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/orange folder thin petri.png" alt="A hollow orange folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] orange folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/ozh&#39;esta template m.png" alt="lineart of two hands, each belonging to a different person, with the tips of the two longest fingers of each hand pressing against each other in a Vulcan kiss."></div>
                <figcaption>
                    <span class="caption">[symbol template] ozh&#39;esta / Vulcan kiss</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template Person holding up two flags and wearing heartthemed outfit 7473521134773791074.png" alt="A partially colored drawing of a cartoony generic yellow human happily standing with their arms outstretched and holding up two small handheld flags, one in each hand. Only the person’s exposed skin and the white flag handles are colored, with everything else being left blank. The lines are a very dark purple, except for the white stitches on the clothes. The person is wearing a sweater with a heart stitched onto the front, and leggings with heart-shaped patches on the knees. Their feet appear to be like paws, their head is very round - almost a circle - and bald, and they only have four fingers. Their eyes are squinted shut, and their eyebrows are raised high in an excited expression. They have no visible mouth and a nose is only loosely implied."></div>
                <figcaption>
                    <span class="caption">[symbol template] Person holding up two flags and wearing heart-themed outfit</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template Person holding up two flags and wearing heartthemed outfit 7473521134774912608.png" alt="A line drawing of a cartoony generic human happily standing with their arms outstretched and holding up two small handheld flags, one in each hand. The person is wearing a sweater with a heart stitched onto the front, and leggings with heart-shaped patches on the knees. Their feet appear to be like paws, with three toes, but it’s ambiguous whether their feet are exposed or if they’re wearing socks made to look like paws. Their head is very round, almost a circle, and bald. Their eyes are squinted shut, and their eyebrows are raised high in an excited expression. They have no visible mouth and a nose is only loosely implied. They have four fingers. The lines are very dark purple, except for the white stitches on the clothes."></div>
                <figcaption>
                    <span class="caption">[symbol template] Person holding up two flags and wearing heart-themed outfit</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/pink folder thick petri.png" alt="A hollow pink folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] pink folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/pink folder thin petri.png" alt="A hollow pink folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] pink folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/PronounT-reflexiveplural-froggygolem.png" alt="line art of head and shoulders shape with three small lumps below."></div>
                <figcaption>
                    <span class="caption">[symbol template] plural reflexive pronoun</span>
                    <span class="credit"> | By froggygolem.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/PronounT-possessive-determiner-froggygolem.png" alt="line art of head and shoulders shape with arms holding a square to chest."></div>
                <figcaption>
                    <span class="caption">[symbol template] possessive adjective pronoun/possessive determiner</span>
                    <span class="credit"> | By froggygolem.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/PronounT-possessive-froggygolem.png" alt="head and shoulders shape with one arm reach out to grab a trapezoid shape below."></div>
                <figcaption>
                    <span class="caption">[symbol template] possessive pronoun</span>
                    <span class="credit"> | By froggygolem.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/pro stance template ot.png" alt="a grey thought bubble with a green checkmark in front of it"></div>
                <figcaption>
                    <span class="caption">[symbol template] pro [stance]</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/purple folder alena semi.png" alt="A purple folder with shadows and highlights"></div>
                <figcaption>
                    <span class="caption">[symbol template] purple folder</span>
                    <span class="credit"> | By Alena Semi.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/purple folder thick petri.png" alt="A hollow purple folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] purple folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/purple folder thin petri.png" alt="A hollow purple folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] purple folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/red folder thick petri.png" alt="A hollow red folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] red folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/red folder thin petri.png" alt="A hollow red folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] red folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/PronounT-Reflexive-froggygolem.png" alt="line art of head and shoulders shape with large circle over chest."></div>
                <figcaption>
                    <span class="caption">[symbol template] reflexive pronoun</span>
                    <span class="credit"> | By froggygolem.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/rosary template m.png" alt="transparent black lineart of a standard rosary, curled to fit in the image, with a blank medallion and cross pendant"></div>
                <figcaption>
                    <span class="caption">[symbol template] rosary</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/PronounT-subject-froggygolem.png" alt="line art of head and shoulders shape above small dot"></div>
                <figcaption>
                    <span class="caption">[symbol template] subject pronoun</span>
                    <span class="credit"> | By froggygolem.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/type template.png" alt="two outline hands typing on a keyboard."></div>
                <figcaption>
                    <span class="caption">[symbol template] type</span>
                    <span class="credit"> | By M.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/symbol template video game controller 7473521134766437868.png" alt="A line drawing of a video game controller. It doesn’t look like any specific existing brand, but generally looks closer to a “classic” style, or pre-fourth console generation controller. It has an analog stick on the left, a logo of a plum and two small, semi-circle shaped buttons in the middle, and circular “A” and “B” buttons on the right, as well as two visible shoulder buttons, one on each side. The controller has short “thighs” or handles for ergonomics on either side."></div>
                <figcaption>
                    <span class="caption">[symbol template] video game controller</span>
                    <span class="credit"> | By Plum.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/white folder thick petri.png" alt="A hollow white folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] white folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/white folder thin petri.png" alt="A hollow white folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] white folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/yellow folder thick petri.png" alt="A hollow yellow folder with thick lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] yellow folder (thick lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/AAC Org/templates/yellow folder thin petri.png" alt="A hollow yellow folder with thin lines."></div>
                <figcaption>
                    <span class="caption">[symbol template] yellow folder (thin lines)</span>
                    <span class="credit"> | By Petrichor.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/template pronoun contraction 7473378665891707465.png" alt="a transparent lgballt (a ball with two eyes, no pupils and no mouth) with a downward-pointing arrow on either side"></div>
                <figcaption>
                    <span class="caption">[template] pronoun contraction</span>
                    <span class="credit"> | By gillipop.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/blank folder 7473208335342189269.png" alt="A dark green file folder with a lighter green rectangle on it &amp; dark yellow &amp; magenta tabs."></div>
                <figcaption>
                    <span class="caption">blank folder</span>
                    <span class="credit"> | By bunnsemojis.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/blank paw folder 7473552977683093318.png" alt="image of a silhouette of a paw"></div>
                <figcaption>
                    <span class="caption">blank paw folder</span>
                    <span class="credit"> | By chrome.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/folder base 7490746090615560695.png" alt="A light cyan folder with one big tab and 7 small tabs, where the big tab has a tan label and the small tabs have these colours: red, light orange, yellow, lime green, cyan, purple, pink. The center of the folder is baby blue."></div>
                <figcaption>
                    <span class="caption">folder base</span>
                    <span class="credit"> | By Creature.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/folder template 7472120337145089552.png" alt="a file folder with a light yellow inside with a darker yellow border and a blue and a green tab"></div>
                <figcaption>
                    <span class="caption">folder template</span>
                    <span class="credit"> | By legless rat.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/folder template 7472815276456822372.png" alt="a symbol of a pink folder with a large white label on the front."></div>
                <figcaption>
                    <span class="caption">folder template</span>
                    <span class="credit"> | By Karys.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/folder template 7472815276465605345.png" alt="a basic folder template"></div>
                <figcaption>
                    <span class="caption">folder template</span>
                    <span class="credit"> | By takaramoon.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/folder template 7472815276466890915.png" alt="a basic Manila coloured folder"></div>
                <figcaption>
                    <span class="caption">folder template</span>
                    <span class="credit"> | By takaramoon.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/I am blank years old 7486020588290457998.png" alt="A simple yellow person with a happy expression pointing to themselves with their left hand. There is a green arrow coming from the right and pointing to the yellow person."></div>
                <figcaption>
                    <span class="caption">I am [blank] years old</span>
                    <span class="credit"> | By Vincent.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/purple folder base 7473208335310659237.png" alt="a purple file folder."></div>
                <figcaption>
                    <span class="caption">purple folder base</span>
                    <span class="credit"> | By Crows.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/red folder base 7473208335309006926.png" alt="a red file folder."></div>
                <figcaption>
                    <span class="caption">red folder base</span>
                    <span class="credit"> | By Crows.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/star shaped folder template 7472966923949832532.png" alt="yellow star with a sort of dark yellow-green outside with a tab of the same colour on the right to the left of a blue one to the left of a green one"></div>
                <figcaption>
                    <span class="caption">star shaped folder template</span>
                    <span class="credit"> | By legless rat.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/teal folder base 7473208335310902340.png" alt="a teal file folder."></div>
                <figcaption>
                    <span class="caption">teal folder base</span>
                    <span class="credit"> | By Crows.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/Thats how blank works template 7473208335398683773.png" alt="an arrow leading from the top to two outlines of interconnected cogs"></div>
                <figcaption>
                    <span class="caption">That&#39;s how [blank] works (template)</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
            <figure>
                <div class="imgcontain"><img src="/imgs/Thats not how blank works template 7473208335397341661.png" alt="an arrow leading from the top to two outlines of interconnected cogs. On top of the arrow is a red X."></div>
                <figcaption>
                    <span class="caption">That&#39;s not how [blank] works (template)</span>
                    <span class="credit"> | By Ottertime.</span>
                </figcaption>
            </figure>
        
        </div>

        

        <p class="center"><a href="..">click here to go back.</a></p>

        <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
    </body>
</html>
