<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title>AAC Image Library</title>

  <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
  <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  <style>
    /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }

    .row {
      display: flex;
    }

    .column {
      flex: 33%;
    }


    figure {
      border: 1px #cccccc solid;
      padding: 4px;
      margin: auto;
    }

    figcaption {
      background-color: black;
      color: white;
      padding: 2px;
      text-align: center;
    }
  </style>
</head>

<body>

  <p><a href="/AAC Org/aacorg">click here to go back.</a></p>



  <center>



    <div class="row">
      <div class="column">






        <figure>
          <img src="/AAC Org/templates/black folder thick petri.png" height="300" alt=" A hollow black folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] black folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/black folder thin petri.png" height="300" alt=" A hollow black folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] black folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/can i see template pheonix 1.png" height="300" alt="An image with dark line art shows a grey green eye with a purple arrow below it curving to point at an empty space. Above is a yellow question mark.">
          <figcaption>
            <span class="caption">[symbol template] can I see</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/carton drink neon.png" height="300" alt="The black outline of an unlabeled milk carton.">
          <figcaption>
            <span class="caption">[symbol template] carton drink</span>
            <span class="credit"> | By Neon.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/carton drink base neon 2.png" height="300" alt="The blank outline of a drink carton">
          <figcaption>
            <span class="caption">[symbol template] carton drink</span>
            <span class="credit"> | By Neon.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/color petri.png" height="300" alt="lineart of paint spilling out of a silver tube.">
          <figcaption>
            <span class="caption">[symbol template] color</span>
            <span class="credit"> | By Petrichor.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/cube.png" height="300" alt="lineart of a cube.">
          <figcaption>
            <span class="caption">[symbol template] cube</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/don't call me template gp.png" height="300" alt="an emoji-yellow upset face and an empty speech bubble with a red x on it">
          <figcaption>
            <span class="caption">[symbol template] don't call me</span>
            <span class="credit"> | By Gillipop.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/Folder Template.png" height="300" alt="lineart of a closed manila folder. there is a single white piece of paper slightly visible over the edge">
          <figcaption>
            <span class="caption">[symbol template] folder</span>
            <span class="credit"> | By StelarSymbols.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/fragment.png" height="300" alt="lineart of a fragment or shard of something like pottery.">
          <figcaption>
            <span class="caption">[symbol template] fragment / shard</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/hug lady.png" height="300" alt="lineart of a hug.">
          <figcaption>
            <span class="caption">[symbol template] hug</span>
            <span class="credit"> | By Lady.</span>
          </figcaption>
        </figure>

            <figure>
          <img src="/AAC Org/templates/i have template crows.png" height="300" alt="An emoji-yellow person pointing to themselves with an arrow also pointing to them.">
          <figcaption>
            <span class="caption">[symbol template] I have</span>
            <span class="credit"> | By Crows.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is not the goal template pheonix 1.png" height="300" alt="A large white circle outlined in black has a big red X overlapping with it on the bottom left, and a checkered flag with a red emphasis shape behind it is mounted above it.">
          <figcaption>
            <span class="caption">[symbol template] is not the goal</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is not the goal template pheonix 2.png" height="300" alt="A large white circle outlined in a grey gradient with a big red X overlapping with it on the bottom left. There is a checkered flag with a white outline echoing the black one, and a red emphasis shape behind it, mounted above the circle">
          <figcaption>
            <span class="caption">[symbol template] is not the goal</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>

                <figure>
          <img src="/AAC Org/templates/is not evil wolf.png" height="300" 
            alt="A blank space and a purple circle with horns and a pointed tail, representing a demon, with a does not equal sign between them.">
          <figcaption>
            <span class="caption">[symbol template] is not evil</span>
            <span class="credit"> | By Wolf.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/not always pheonix template 1.png" height="300" alt="A red X sits at the top of the image, a purple arrow curves down to point at a blank space, next to the blank space is a clock with a blue rim. The rim is also a circular arrow.">
          <figcaption>
            <span class="caption">[symbol template] not always</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/orange folder thick petri.png" height="300" alt=" A hollow orange folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] orange folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/orange folder thin petri.png" height="300" alt=" A hollow orange folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] orange folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC%20Org/templates/ozh'esta%20template%20m.png" height="300" alt="lineart of two hands, each belonging to a different person, with the tips of the two longest fingers of each hand pressing against each other in a Vulcan kiss.">
          <figcaption>
            <span class="caption">[symbol template] ozh'esta / Vulcan kiss</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/purple folder alena semi.png" height="300" alt=" A purple folder with shadows and highlights">
          <figcaption>
            <span class="caption">[symbol template] purple folder</span>
            <span class="credit"> | By Alena Semi.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/pro stance template ot.png" height="300" alt="a grey thought bubble with a green checkmark in front of it">
          <figcaption>
            <span class="caption">[symbol template] pro [stance]</span>
            <span class="credit"> | By Ottertime.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/red folder thick petri.png" height="300" alt=" A hollow red folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] red folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/red folder thin petri.png" height="300" alt=" A hollow red folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] red folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>






      </div>
      <div class="column">





  
        <figure>
          <img src="/AAC Org/templates/blue folder alena semi.png" height="300" alt="A blue folder with gradients from lighter blue at the top to darker blue at the bottom.">
          <figcaption>
            <span class="caption">[symbol template] blue folder</span>
            <span class="credit"> | By Alena Semi.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/brown folder thick petri.png" height="300" alt=" A hollow brown folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] brown folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/brown folder thin petri.png" height="300" alt=" A hollow brown folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] brown folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/can i see template pheonix 2.png" height="300" alt="An image with light line art shows a grey green eye with a purple arrow below it curving to point at an empty space. Above is a blue question mark.">
          <figcaption>
            <span class="caption">[symbol template] can I see</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/conditioning long straight plum.png" height="300" alt="lineart of a figure conditioning long, straight hair.">
          <figcaption>
            <span class="caption">[symbol template] conditioning long straight hair</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/doesn't always template pheonix 1.png" height="300" alt="A red doesn’t equals sign sits above a purple arrow, the purple arrow curves and points down at a clock with a blue rim. The rim is in the shape of an arrow.  The left side of the image is noticeably empty.">
          <figcaption>
            <span class="caption">[symbol template] doesn't always</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/doesn't always template pheonix 1.png" height="300" alt="To the right of a blank area sits a red doesn’t equals sign. Below it is a purple arrow that curves and points down at a second blank area. To the left of this blank area is a clock with a blue rim. The rim is in the shape of an arrow.">
          <figcaption>
            <span class="caption">[symbol template] doesn't always</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/don't touch m.png" height="300" alt="to the left is a yellow hand with a red 'X' below it.">
          <figcaption>
            <span class="caption">[symbol template] don't touch</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/fidget slug plum.png" height="300" alt="lineart of a fidget slug.">
          <figcaption>
            <span class="caption">[symbol template] fidget slug</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/heart template plum.png" height="300" alt="A transparent dark purple line drawing of a heart shape. ">
          <figcaption>
            <span class="caption">[symbol template] heart</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/hug and kiss forehead lady.png" height="300" alt="lineart of two figures hugging, the left one is kissing the right one on the forehead, while the one on the right is smiling.">
          <figcaption>
            <span class="caption">[symbol template] hug and kiss on forehead</span>
            <span class="credit"> | By Lady.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is not funny template ot.png" height="300" alt=" a black arrow with a red X on top leading from a transparent space to s yellow face that is laughing, as seen by the three blue triangles near their mouth">
          <figcaption>
            <span class="caption">[symbol template] is not funny</span>
            <span class="credit"> | By Ottertime.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is the goal template pheonix 3.png" height="300" alt="A large white circle outlined in black has a checkered flag mounted above it with a yellow emphasis shape behind it. ">
          <figcaption>
            <span class="caption">[symbol template] is the goal</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is the goal template pheonix 4.png" height="300" alt="A large white circle outlined in a grey gradient has a checkered flag mounted above it with a yellow emphasis shape behind it. The flag has a white outline echoing the black one.">
          <figcaption>
            <span class="caption">[symbol template] is the goal</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/know outline m.png" height="300" alt="a black outline of a hand with the forefinger tapping the forehead of a smug face.">
          <figcaption>
            <span class="caption">[symbol template] know</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/language 2.png" height="300" alt="lineart of a speech bubble above a rectangle where a flag can go.">
          <figcaption>
            <span class="caption">[symbol template] language</span>
            <span class="credit"> | By CC.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/not always pheonix template 2.png" height="300" alt="A red X sits at the top of the image, a purple arrow curves down to point at a clock with a blue rim. The rim is also a circular arrow. Next to the clock is a blank space.">
          <figcaption>
            <span class="caption">[symbol template] not always</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/pink folder thick petri.png" height="300" alt=" A hollow pink folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] pink folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/pink folder thin petri.png" height="300" alt=" A hollow pink folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] pink folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/PronounT-subject-froggygolem.png" height="300" alt="line art of head and shoulders shape above small dot">
          <figcaption>
            <span class="caption">[symbol template] subject pronoun</span>
            <span class="credit"> | By froggygolem.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/type template.png" height="300" alt="two outline hands typing on a keyboard.">
          <figcaption>
            <span class="caption">[symbol template] type</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/white folder thick petri.png" height="300" alt=" A hollow white folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] white folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/white folder thin petri.png" height="300" alt=" A hollow white folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] white folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>






      </div>
      <div class="column">




 
        <figure>
          <img src="/AAC Org/templates/anti stance template ot.png" height="300" alt=" a grey thought bubble with a red X in front of it">
          <figcaption>
            <span class="caption">[symbol template] anti [stance]</span>
            <span class="credit"> | By Ottertime.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/confusion template.png" height="300" alt="Dark purple lineart of a round, emoji-like face nervously looking up at their own empty thought bubble that is floating above them. Three question marks (?) are above them. The face has only eyes and a mouth, with two diagonal lines between the eyes almost implying a nose, but not properly defining one. Their eyebrows are knit together and downturned in concern, and their mouth is a wobbly frown. A few sweat droplets run down the side of their face. The lineart varies in thickness throughout, and gives the appearance of brush- or chisel-tip marker.">
          <figcaption>
            <span class="caption">[symbol template] confusion</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/crayon template dd.png" height="300" alt="An outline drawing of a crayon with no coloring in it.">
          <figcaption>
            <span class="caption">[symbol template] crayon</span>
            <span class="credit"> | By DoctorZero.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/crop top plum.png" height="300" alt="lineart of crop top.">
          <figcaption>
            <span class="caption">[symbol template] crop top</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>

        
        <figure>
          <img src="/AAC Org/templates/dog whistle template.png" height="300" 
            alt="a tan dog with brown spots blowing a whistle, which has a spiky blank speech bubble coming out of it">
          <figcaption>
            <span class="caption">[symbol template] dogwhistle</span>
            <span class="credit"> | By Ottertime. </span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/Flag Template.png" height="300" alt="lineart of a slightly warped rectangle like a waving flag.">
          <figcaption>
            <span class="caption">[symbol template] flag</span>
            <span class="credit"> | By StellarSymbols.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/folding cane plum.png" height="300" alt="lineart of a folding cane.">
          <figcaption>
            <span class="caption">[symbol template] folding cane</span>
            <span class="credit"> | By Plum.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/green folder thick petri.png" height="300" alt=" A hollow green folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] green folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/green folder thin petri.png" height="300" alt=" A hollow green folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] green folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/hug and kiss lips lady.png" height="300" alt="lineart of two figures hugging, kissing each other with their eyes closed.">
          <figcaption>
            <span class="caption">[symbol template] hug and kiss on lips</span>
            <span class="credit"> | By Lady.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is not the goal template pheonix 3.png" height="300" alt="A large white 2D mound shape outlined in black has a big red X overlapping with it on the left side, and a checkered flag with a red emphasis shape behind it is mounted above it.">
          <figcaption>
            <span class="caption">[symbol template] is not the goal</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is not the goal template pheonix 4.png" height="300" alt="A large white 2D mound shape outlined in a grey gradient with a big red X overlapping with it on the left side, There is a checkered flag with a white outline echoing the black one, and a red emphasis shape behind it, mounted above the circle">
          <figcaption>
            <span class="caption">[symbol template] is not the goal</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>
        <figure>
          <img src="/AAC Org/templates/is the goal template pheonix 1.png" height="300" alt="A large 2D white mound outlined in black has a checkered flag mounted above it with a yellow emphasis shape behind it.">
          <figcaption>
            <span class="caption">[symbol template] is the goal</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/is the goal template pheonix 2.png" height="300" alt="A large 2D white mound outlined in a grey gradient has a checkered flag mounted above it with a yellow emphasis shape behind it. The flag has a white outline echoing the black one.">
          <figcaption>
            <span class="caption">[symbol template] is the goal</span>
            <span class="credit"> | By Pheonix.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/lanyard template m.png" height="300" alt="black lineart of a lanyard with a horizonal card clipped onto the end.">
          <figcaption>
            <span class="caption">[symbol template] lanyard</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/PronounT-object-froggygolem.png" height="300" alt="line art of head and shoulders shape above horizontal rectangle">
          <figcaption>
            <span class="caption">[symbol template] object pronoun</span>
            <span class="credit"> | By froggygolem.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/PronounT-reflexiveplural-froggygolem.png" height="300" alt="line art of head and shoulders shape with three small lumps below.">
          <figcaption>
            <span class="caption">[symbol template] plural reflexive pronoun</span>
            <span class="credit"> | By froggygolem.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/PronounT-possessive-determiner-froggygolem.png" height="300" alt="line art of head and shoulders shape with arms holding a square to chest.">
          <figcaption>
            <span class="caption">[symbol template] possessive adjective pronoun/possessive determiner</span>
            <span class="credit"> | By froggygolem.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/PronounT-possessive-froggygolem.png" height="300" alt="head and shoulders shape with one arm reach out to grab a trapezoid shape below.">
          <figcaption>
            <span class="caption">[symbol template] possessive pronoun</span>
            <span class="credit"> | By froggygolem.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/purple folder thick petri.png" height="300" alt=" A hollow purple folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] purple folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/purple folder thin petri.png" height="300" alt=" A hollow purple folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] purple folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/PronounT-Reflexive-froggygolem.png" height="300" alt="line art of head and shoulders shape with large circle over chest.">
          <figcaption>
            <span class="caption">[symbol template] reflexive pronoun</span>
            <span class="credit"> | By froggygolem.</span>
          </figcaption>
        </figure>
        <figure>
        
        <figure>
          <img src="/AAC Org/templates/rosary template m.png" height="300" alt="transparent black lineart of a standard rosary, curled to fit in the image, with a blank medallion and cross pendant">
          <figcaption>
            <span class="caption">[symbol template] rosary</span>
            <span class="credit"> | By M.</span>
          </figcaption>
        </figure>

          <img src="/AAC Org/templates/stance neutral template ot.png" height="300" alt=" a grey thought bubble witn an orange tilde in front of it">
          <figcaption>
            <span class="caption">[symbol template] [stance] neutral</span>
            <span class="credit"> | By Ottertime.</span>
          </figcaption>
        </figure>
        
        <figure>
          <img src="/AAC Org/templates/yellow folder thick petri.png" height="300" alt=" A hollow yellow folder with thick lines.">
          <figcaption>
            <span class="caption">[symbol template] yellow folder (thick lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>

        <figure>
          <img src="/AAC Org/templates/yellow folder thin petri.png" height="300" alt=" A hollow yellow folder with thin lines.">
          <figcaption>
            <span class="caption">[symbol template] yellow folder (thin lines)</span>
            <span class="credit"> | By Petri.</span>
          </figcaption>
        </figure>














      </div>
    </div>

    <p><a href="/AAC Org/aacorg">back.</a></p>

  </center>
  <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>

</body>

</html>
