.status_error {
    color: red;
}
.status_ok {
    color: green;
}

.tabs_header {
    display: flex;
}
.tabs_header input {
    display: none;
}
.tabs_header label {
    flex: 1;
    text-align: center;
}
.tabs_header input:checked + label {
    background-color: red;
}

/* Used for labeled fields in forms */
form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}
form div {
    display: contents;
}
form button {
    grid-column: 1;
}

#artist_merge_details > summary::marker {
    content: '';
}

#with_cat_tree {
    display: flex;
    flex-direction: row;
}
#with_cat_tree :not(:first-child) {
    flex: 1;
}

/* Used for category tree */
ol {
    list-style: '▼ ';
}
