/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

.box{
width: 500px;
border: 1px solid grey;
} 

   
 /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 
    
    .row {
  display: flex;
}

.column {
  flex: 33%;
}

/* New code, TODO clean up old code */
.cw {
  margin: 2lh;
  text-align: center;
}

.center {
  text-align: center;
}

.figlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: 0;

  box-sizing: border-box;
  max-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

figure .imgcontain {
  flex: 1;
  /* Override the minimum size, so that the size which is _left over_ is stretched by flexbox. */
  min-height: 0;
}

/* Make the image shrink down and not overlap or push other things out */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

figcaption {
  background-color: black;
  color: white;
  padding: 2px;
  text-align: center;
  width: 100%;
}

/* Automatic dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: white;
  }
  figcaption {
    background-color: white;
    color: black;
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .figlist {
    display: grid;
    grid-template-columns: 1fr;
  }
}
