/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: Verdana;
}

.space_above {
  margin-top: 2lh;
}

.cw {
  margin: 2lh;
  text-align: center;
}

.center {
  text-align: center;
}

.figlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* This is specifically used on the main page */
ul.figlist {
  list-style: none;
}
ul.figlist li {
  margin: 1lh;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: 0;

  box-sizing: border-box;
  max-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

figure .imgcontain {
  flex: 1;
  /* Override the minimum size, so that the size which is _left over_ is stretched by flexbox. */
  min-height: 0;
}

/* Make the image shrink down and not overlap or push other things out */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

figcaption {
  background-color: black;
  color: white;
  padding: 2px;
  text-align: center;
  width: 100%;
}

/* Automatic dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: white;
  }
  figcaption {
    background-color: white;
    color: black;
  }

  a:link {
    color: rgb(60, 139, 165);
  }
  a:visited {
    color: mediumpurple;
  }
  a:active {
    color: #f33;
  }
}

/* Responsive layout - on larger screens, use 4 or 5 columns */
@media screen and (min-width: 769px) {
  .figlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .figlist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
