<!DOCTYPE html>
<html>
  <head>
    <title>Templates | AAC Image Library</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/favicon.png" rel="icon" type="image/png">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <figure>
      <img alt="A hollow black folder with thick lines." src="/assets/symbols/black folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] black folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow black folder with thin lines." src="/assets/symbols/black folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] black folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="The black outline of an unlabeled milk carton." src="/assets/symbols/carton drink neon.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] carton drink</span>
        <span class="credit">by Neon</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="The blank outline of a drink carton" src="/assets/symbols/carton drink base neon 2.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] carton drink</span>
        <span class="credit">by Neon</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of paint spilling out of a silver tube." src="/assets/symbols/color petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] color</span>
        <span class="credit">by Petrichor</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a cube." src="/assets/symbols/cube.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] cube</span>
        <span class="credit">by M</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a closed manila folder. there is a single white piece of paper slightly visible over the edge" src="/assets/symbols/Folder Template.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] folder</span>
        <span class="credit">by StelarSymbols</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a fragment or shard of something like pottery." src="/assets/symbols/fragment.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] fragment / shard</span>
        <span class="credit">by M</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a hug." src="/assets/symbols/hug lady.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] hug</span>
        <span class="credit">by Lady</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow orange folder with thick lines." src="/assets/symbols/orange folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] orange folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow orange folder with thin lines." src="/assets/symbols/orange folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] orange folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of two hands, each belonging to a different person, with the tips of the two longest fingers of each hand pressing against each other in a Vulcan kiss." src="/assets/symbols/ozh'esta template m.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] ozh'esta / Vulcan kiss</span>
        <span class="credit">by M</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow red folder with thick lines." src="/assets/symbols/red folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] red folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow red folder with thin lines." src="/assets/symbols/red folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] red folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow brown folder with thick lines." src="/assets/symbols/brown folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] brown folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow brown folder with thin lines." src="/assets/symbols/brown folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] brown folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a figure conditioning long, straight hair." src="/assets/symbols/conditioning long straight plum.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] conditioning long straight hair</span>
        <span class="credit">by Plum</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a fidget slug." src="/assets/symbols/fidget slug plum.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] fidget slug</span>
        <span class="credit">by Plum</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A transparent dark purple line drawing of a heart shape." src="/assets/symbols/heart template plum.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] heart</span>
        <span class="credit">by Plum</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of two figures hugging, the left one is kissing the right one on the forehead, while the one on the right is smiling." src="/assets/symbols/hug and kiss forehead lady.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] hug and kiss on forehead</span>
        <span class="credit">by Lady</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="a black outline of a hand with the forefinger tapping the forehead of a smug face." src="/assets/symbols/know outline m.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] know</span>
        <span class="credit">by M</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a speech bubble above a rectangle where a flag can go." src="/assets/symbols/language 2.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] language</span>
        <span class="credit">by CC</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow pink folder with thick lines." src="/assets/symbols/pink folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] pink folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow pink folder with thin lines." src="/assets/symbols/pink folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] pink folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="two outline hands typing on a keyboard." src="/assets/symbols/type template.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] type</span>
        <span class="credit">by M</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow white folder with thick lines." src="/assets/symbols/white folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] white folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow white folder with thin lines." src="/assets/symbols/white folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] white folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="Dark purple lineart of a round, emoji-like face nervously looking up at their own empty thought bubble that is floating above them. Three question marks (?) are above them. The face has only eyes and a mouth, with two diagonal lines between the eyes almost implying a nose, but not properly defining one. Their eyebrows are knit together and downturned in concern, and their mouth is a wobbly frown. A few sweat droplets run down the side of their face. The lineart varies in thickness throughout, and gives the appearance of brush- or chisel-tip marker." src="/assets/symbols/confusion template.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] confusion</span>
        <span class="credit">by Plum</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="An outline drawing of a crayon with no coloring in it." src="/assets/symbols/crayon template dd.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] crayon</span>
        <span class="credit">by DoctorZero</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of crop top." src="/assets/symbols/crop top plum.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] crop top</span>
        <span class="credit">by Plum</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a slightly warped rectangle like a waving flag." src="/assets/symbols/Flag Template.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] flag</span>
        <span class="credit">by StellarSymbols</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of a folding cane." src="/assets/symbols/folding cane plum.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] folding cane</span>
        <span class="credit">by Plum</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow green folder with thick lines." src="/assets/symbols/green folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] green folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow green folder with thin lines." src="/assets/symbols/green folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] green folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="lineart of two figures hugging, kissing each other with their eyes closed." src="/assets/symbols/hug and kiss lips lady.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] hug and kiss on lips</span>
        <span class="credit">by Lady</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="black lineart of a lanyard with a horizonal card clipped onto the end." src="/assets/symbols/lanyard template m.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] lanyard</span>
        <span class="credit">by M</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow purple folder with thick lines." src="/assets/symbols/purple folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] purple folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow purple folder with thin lines." src="/assets/symbols/purple folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] purple folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow yellow folder with thick lines." src="/assets/symbols/yellow folder thick petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] yellow folder (thick lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
    <figure>
      <img alt="A hollow yellow folder with thin lines." src="/assets/symbols/yellow folder thin petri.png" width="300">
      <figcaption>
        <span class="caption">[symbol template] yellow folder (thin lines)</span>
        <span class="credit">by Petri</span>
      </figcaption>
    </figure>
  </body>
</html>