<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AAC Image Library</title>

        <link rel="icon" type="image/png" href="/favicon.png">
        <link href="/style.css" rel="stylesheet" type="text/css" media="all">
        <script src="/frontend.js"></script>
    </head>
    <body>
        <p><a href="..">click here to go back.</a></p>

        {% if subcats %}
        <ul>
            {% for subcat in subcats %}
            <li><a href="{{ subcat.url }}">{{ subcat.text }}{% if subcat.icon %} <img src="{{ subcat.icon }}" height="50">{% endif %}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="figlist">
        {% for sym in main_syms %}
            <figure>
                <div class="imgcontain"><img src="{{ sym.filename }}" alt="{{ sym.alt_text }}"></div>
                <figcaption>
                    <span class="caption">{{ sym.caption }}</span>
                    <span class="credit"> | By TODO.</span>
                </figcaption>
            </figure>
        {% endfor %}
        </div>

        {% if figs_with_cw %}
        <h2 class="cw">{{ cw_text }}</h2>

        <div class="figlist">
        {% for fig in figs_with_cw %}
            <figure>
                <div class="imgcontain"><img src="{{ fig["Image URL"] }}" alt="{{ fig["Alt text"] }}"></div>
                <figcaption>
                    <span class="caption">{{ fig["Caption"] }}</span>
                    <span class="credit"> | By {{ fig["Credit"] }}.</span>
                </figcaption>
            </figure>
        {% endfor %}
        </div>
        {% endif %}

        <p class="center"><a href="..">click here to go back.</a></p>

        <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script>
    </body>
</html>
